<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vault.io</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Karma" rel="stylesheet">
    <style>
        html,
        body {
            margin: 0;
            padding: 0;
            font-family: 'Lato', sans-serif;
            height: 100%;
            width: 100%;
        }
    </style>
</head>

<body>
    <div class="nav-container">
        <div class="left-container">
            <div class="logo">
                <a href="/">Vault.io</a>
            </div>
            <div class="search-container">
                <input class="search-input" placeholder="Search" />
            </div>
        </div>
        <ul class="links-list">
            <li>
                <a href="/about/">about</a>
            </li>
            <li>
                <a href="/posts/new/">new post</a>
            </li>
            <li>
                {% if user.is_authenticated %}
                    <a href="/accounts/logout/">log out</a>
                {% else %}
                    <a href="/accounts/login/">log in</a>
                {% endif %}
            </li>
        </ul>
    </div>
    <div class="body-container">
        {% block content %} {% endblock content %}
    </div>
    <footer class="footer">
        Copyright &copy; 2018-present Michael Helvey
    </footer>
</body>

</html>