{% extends "base.html" %}

{% block content %}

<div class="card">
  <div class="post-detail-title">{{object.title}}</div>
  <div class="post-detail-title small">§ § §</div>
  <div class="post-detail-user">Posted by <a href="/users/{{object.user.id}}/">{{object.user.username}}</a> on {{object.createdAt}}</div>
  <div class="text-content">{{object.content}}</div>
  {% if object.user.id == user.id %}
  <div class="post-detail-buttons">
    <a href="/posts/{{post.id}}/update/">Edit Post</a>
    <a href="/posts/{{post.id}}/delete/">Delete Post</a>
  </div>
  {% else %}
  {% endif %}
</div>

{% endblock content %}